<template>
  <h2>
    You have to login to add/remove items.
  </h2>
  <products-list></products-list>
</template>

<script>
import ProductsList from '../pages/ProductsList.vue';
export default {
  components: {
    ProductsList
  }
};
</script>

<style scoped>
h2 {
  text-align: center;
}
</style>
