<template>
  <section class="heading">
    <h2 class="text-center">Products List:</h2>
  </section>
  <section>
    <ul>
      <product-item
        v-for="prod in products"
        :key="prod.id"
        :id="prod.id"
        :title="prod.title"
        :image="prod.image"
        :description="prod.description"
        :price="prod.price"
      ></product-item>
    </ul>
  </section>
</template>

<script>
import { mapGetters } from 'vuex';
import ProductItem from '../components/products/ProductItem.vue';

export default {
  computed: {
    ...mapGetters({ products: 'fetchProducts' })
  },
  components: {
    ProductItem
  }
};
</script>

<style scoped>
ul {
  list-style: none;
  margin: 2rem auto;
  padding: 0;
  max-width: 40rem;
}
section {
  margin: 2rem auto;
  max-width: 40rem;
}

h2 {
  color: #292929;
  text-align: center;
  border-bottom: 2px solid #ccc;
  padding-bottom: 1rem;
}
</style>
