<template>
  <form @submit.prevent="addItem">
    <h2>Add New Product:</h2>
    <div class="container">
      <label for="image">Image</label>
      <input type="text" name="image" id="image" ref="image" />
    </div>
    <div class="container">
      <label for="title">Title</label>
      <input type="text" name="title" id="title" ref="title" />
    </div>
    <div class="container">
      <label for="description">Description</label>
      <textarea
        rows="3"
        name="description"
        id="description"
        ref="description"
      />
    </div>
    <div class="container">
      <label for="price">Price</label>
      <input type="number" name="price" id="price" v-model.number="price" />
    </div>
    <button type="submit">Add</button>
  </form>
  <products-list></products-list>
</template>

<script>
import { mapGetters } from 'vuex';
import ProductsList from '../pages/ProductsList.vue';
export default {
  components: {
    ProductsList
  },
  data() {
    return {
      loggedState: null,
      price: null
    };
  },
  watch: {
    loggedIn() {}
  },
  methods: {
    addItem() {
      const newItem = {
        id: new Date().toISOString(),
        image: this.$refs.image.value,
        title: this.$refs.title.value,
        description: this.$refs.description.value,
        price: this.price
      };
      this.$store.dispatch('addNewItem', newItem);
    }
  },
  computed: {
    ...mapGetters({
      loggedIn: 'auth/getAuth'
    })
  }
  /* beforeRouteEnter(to, from, next) {
    console.log(this.loggedIn);
    console.log(to, from);
    if (this.loggedIn) {
      next();
    } else {
      this.$router.push('/login');
    }
  } */
};
</script>

<style scoped>
form {
  text-align: center;
  margin: 3rem auto;
  max-width: 40rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 2rem;
}
.container label,
.container input {
  padding-right: 10px;
}
</style>
